
:root {
    --tile-width: 50px;
    --tile-margin: 2px;
    --board-size: 51;
    --board-width: 2754px; /*  = (tileWidth+(tileMargin*2))*boardSize  */

    --default-color: lightgray;
    --glacier-color: lightblue;
    --water-color: rgb(86, 155, 179);
    --ground-color: rgb(168, 137, 69);
    --forest-color: rgb(36, 121, 36);
    --city-color: rgb(126, 61, 126);
    --scorched-color: gray;
}

body{
    background-color: rgb(105, 82, 32);
    
}

label{
    font-size: 9px;
}

#gametable{
    display: inline-flex;
    justify-content: center;
}

#gameboard {
    display: inline-flex; 
    flex-wrap: wrap;
    width: var(--board-width);
}

.game-tile {
    display: flex; 
    flex-direction: column;
    font-size: large;
    /* flex-wrap: wrap; */
    width:              var(--tile-width);
    height:             var(--tile-width);
    background-color:   var(--default-color);
    margin:             var(--tile-margin)
}

#time-label{
    font-size: 1vw;
    margin: 1vw;
}

#buttons{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    right: 0;
    top: 0;
    position: fixed;
    background-color: rgb(105, 82, 32);
    border-radius: 0 0 0 50px;
    border: 3px rgb(207, 207, 207) ;
    border-style: double;
    border-top: none;
    border-right: none;
}

button{
    font-size: 1vw;
    color: rgb(207, 207, 207);
    border: none ;
    border-radius: 15px;
    padding: 1vw;
    margin: 0.5em;
    
}

button#button-step, button#button-run{
    background-color: rgb(66, 146, 66);
}

button#button-stop{
    background-color: maroon;
}